// colors
$blue: #0350A6;
$medium-blue: #0F4385;
$dark-blue: #112e51;
$light-grey: #e3e3e3;
$grey: #525252;

$blue-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,122,193,1) 100%);
$midnight-blue: #020024;
