.masthead {
  background: $blue;
}

.site_title_container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.site_title {
  color: #fff;
  text-decoration: none;
  margin: 0;

  &:hover {
    text-decoration: none;
  }
}
