body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitter', serif;
}

a {
  color: $dark-blue;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    outline-width: 0;
  }

  &:active {
    outline-width: 0;
  }
}
