.download_icon {
  margin-bottom: 0;
  padding-right: .6rem;
  padding-top: .25rem;

  &:hover {
    transform: translate(-1.5px, -1.5px);
  }
}

.gif_container {
  text-align: center;
}

.hodl_gif {
  max-height: 500px;
}
