.grid_wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
  align-items: center;
  align-content: center;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;

  @media screen and (min-width: 715px) and (max-width: 960px) {
    grid-template-columns: 31.5% 31.5% 31.5%;
  }

  @media screen and (min-width: 375px) and (max-width: 715px) {
    grid-template-columns: 48% 48%;
  }

  @media screen and (max-width: 375px) {
    grid-template-columns: 100%;
  }
}

.grid_item {
  padding: 1rem;
  background: $blue;
  border: 1px solid $grey;
  box-shadow: 5px 5px 1px $light-grey;
}

.currency_header {
  color: #ffffff;
  text-align: center;
}

.grid_thumbnail {
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 1px $grey;
  max-height: 245px;

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 1px $grey;
  }
}

.meta_container {
  background: $light-grey;
  border: 1px solid $grey;
  box-shadow: 5px 5px 1px $grey;
  border-radius: .5rem;
}

.grid_link_container {
  height: 100px;
  overflow: hidden;
}

.grid_link_text {
  text-align: center;
  align-self: center;
  font-family: 'Bitter', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  padding: .6rem;
}

.date_and_download_container {
  text-align: right;
  height: 31px;
  background-color: $light-grey;
  border-radius: .5rem;
}

.publication_date {
  font-size: .65rem;
  float: left;
  text-align: left;
  margin-bottom: 0;
  padding-left: .6rem;
  width: 75%;
}

.grid_download {
  float: right;
}
