.site_navigation {
  background: $medium-blue;
  margin: 0;
}

.nav_container {
  margin: 0 auto;
  max-width: 960px;
  padding: .7rem 1.0875rem;
}

.nav_item {
  background: $medium-blue;
  text-align: center;

  > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem;
  }

  &:hover {
    background: $dark-blue;
    padding: .7rem  1.0875rem;
    margin: -.7rem 0;
  }
}

.bottom_nav_item {
  background: $medium-blue;
  text-align: center;

  > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem;
  }
}
