.site_navigation {
  background: $medium-blue;
  margin: 0;
}

.nav_container {
  margin: 0 auto;
  max-width: 960px;
  padding: .7rem 1.0875rem;
}

.nav_item {
  background: $medium-blue;

  > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem;
  }
}
